extends ../layout

block content
  .container
    h1.page-header Survey List

    table.table.table-striped.table-bordered
      thead
        tr
          th 제목
          th 내용
          th 등록 시간
          th
      tbody
        each survey in surveys
          tr
            td
              a(href='/survey/#{survey._id}')= survey.name
            td= survey.content
            td= moment(survey.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td
              a.btn.btn-xs.btn-default(href='/survey/#{survey._id}/edit') 수정

              a.btn.btn-xs.btn-default(href='/survey/#{survey._id}?_method=DELETE') 삭제
    a.btn.btn-primary(href='/survey/new') 추가
